@media (min-width: 1200px) {
  .card_container {
    position: absolute;
    bottom: -35px;
    right: -220px;
  }
}

@media (min-width: 1300px) {
  .card_container {
    right: -170px;
  }
}
@media (min-width: 1340px) {
  .card_container {
    right: -50px;
  }
}
